{% extends 'vimad/base.html' %}
{% load static %}
{% block title %}
  <title>Login</title>
{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/inicio.css' %}" />
  <link rel="stylesheet"
        href="{% static 'css/bootstrap.min.css' %}"
        media="all">
{% endblock css %}
{% block contenido %}
  <div class="bground">
    <div class="login-card">
      <a href="{% url 'vimad:index' %}">
        <img src="{% static 'png/logo-no-background.png' %}"
             height=""
             width=""
             alt="vimad logo" />
      </a>
      <h2>Inicio de sesión</h2>
      <h3>Bienvenido a tu propio cine</h3>
      <form action="{% url 'vimad_app:inicio' %}"
            method="POST"
            class="login-form">
        {% csrf_token %}
        <h4>{{ error }}</h4>
        <div class="username">{{ form.username }}</div>
        {{ form.password }}
        <button type="submit" class="control">LOG IN</button>
        <button class="control" type="button">
          <a href="{% url 'vimad_app:register' %}">SIGN UP</a>
        </button>
        <button class="control" type="button">
          <a href="{% url 'reset_password' %}">REESTABLECER CONTRASEÑA</a>
        </button>
      </form>
    </div>
  </div>
{% endblock contenido %}
{% block js %}
{% endblock js %}
