{% extends 'vimad/base.html' %}
{% load static %}
{% block title %}
    <title>Recuperar contraseña</title>
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}" media="all">
    <link rel="stylesheet"
          href="{% static 'css/bootstrap.min.css' %}"
          media="all">
{% endblock css %}
{% block contenido %}
    <div class="bground">
        <div class="login-card">
            <img src="{% static 'png/logo-no-background.png' %}"
                 height=""
                 width=""
                 alt="vimad logo" />
            <h2>Confirmar restablecimiento de contraseña</h2>
            <form method="POST" class="login-form">
                {% csrf_token %}
                <br>
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña:</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">Confirmar nueva contraseña:</label>
                    {{ form.new_password2 }}
                </div>
                <button type="submit" class="control">Confirmar restablecimiento</button>
            </form>
        </div>
    </div>
{% endblock %}
