{% extends 'vimad/base.html' %}
{% load static %}
{% block title %}
    <title>Recuperar contraseña</title>
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/proyecto.css' %}" media="all">
{% endblock css %}
{% block contenido %}
    <h1>Restablecer contraseña</h1>
    <form method="POST" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="control">Enviar correo de restablecimiento</button>
    </form>
{% endblock %}
