{% extends 'vimad/base.html' %}
{% load static %}
{% block title %}
    <title>Recuperar contraseña</title>
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}" media="all">
{% endblock css %}
{% block contenido %}
    <div class="bground">
        <div class="login-card">
            <a href="{% url 'vimad:index' %}">
                <img src="{% static 'png/logo-no-background.png' %}"
                     height=""
                     width=""
                     alt="vimad logo" />
            </a>
            <h2>Restablecer contraseña</h2>
            <form method="POST" class="login-form">
                {% csrf_token %}
                <div class="username">{{ form.as_p }}</div>
                <button type="submit" class="control reg">Enviar correo de restablecimiento</button>
            </form>
        </div>
    </div>
{% endblock %}
